{% extends 'core/base.html' %}

{% block content %}
    <h1 class="mb-6 text-3xl">{{ project.name }}</h1>

    {% if project.description %}
        <p class="mb-6">{{ project.description }}</p>
    {% endif %}
    <small>last modified at: {{ project.last_modified }} </small><br>

    <a href="{% url 'project:edit' project.id %}" class="my-4 py-4 px-8 bg-sky-600 text-white inline-block">Edit</a>
    <a href="{% url 'project:delete' project.id %}" class="my-4 py-4 px-8 bg-amber-600 text-white inline-block">Delete</a>
{% endblock %}