{% extends 'core/base.html' %}

{% block content %}
    Projects 🏠 / Project / Todolist / Edit

    <form class="mt-6 space-y-4" method="POST" action=".">
        {% csrf_token %}
        <div>
            <label> Todolist Name</label><br>
            <input type="text" name="name" value="{{todolist.name}}" class="w-full py-4 px-6 bg-slate-500 text-white" value="{{project.name}}">
        </div>

        <div>
            <label> Description </label><br>
            <input type="text" name="description" value="{{todolist.description}}" class="w-full py-4 px-6 bg-slate-500 text-white" value="{{project.description}}">
        </div>
        <div>
            <button class="py-4 px-8 bg-sky-600 text-white"> Save </button>
        </div>
    </form>

{% endblock %}