{% extends 'core/base.html' %}

{% block content %}
    <div class="mb-8">
        Projects 🏠 / Project / File / Add
        <h1 class=" mt-4 mb-6 text-3xl">Upload file to "{{project.name}}"</h1>
    </div>

    <form method="POST" action="." enctype="multipart/form-data" class="max-w-md mx-auto bg-slate-200 p-8 shadow-2xl">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_name" class="block text-gray-700 text-sm font-bold mb-2">File Name:</label>
            {{ form.name }}
        </div>

        <div class="mb-4">
            <label for="id_attachment" class="block text-gray-700 text-sm font-bold mb-2">Attachment:</label>
            {{ form.attachment }}
        </div>

        <div class="mb-6">
            <button type="submit" class="py-2 px-4 bg-sky-600 text-white rounded">Save</button>
        </div>
    </form>
{% endblock %}
